body {
    font-family: 'Roboto', sans-serif;
    color: #5e6472;
    position: relative;
    padding-bottom: 8rem;
    min-height: 100%;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */

    animation: background-gradient 8s;
    animation-iteration-count: infinite;
    backface-visibility: hidden;
    animation-timing-function: ease-in;
    background: radial-gradient(circle, rgba(255, 237, 180, 1) 0%, transparent 100%);
}

@keyframes background-gradient {
    0% {
        background-color: #ffa69e;
    }

    /* 25% {
        background-color: #ffedb4;
    } */
    50% {
        background-color: #e471cb;
        /* background-color: #000000; */
    }

    75% {
        background-color: #ffa69e;
        /* background-color: #ffffff; */
    }

    100% {
        background-color: #ffa69e;
    }
}

h1 {
    text-align: center;
    font-size: 4em;
    color: #777d8d;
}

/* table */

table {
    background-color: #aed9e0;
    width: 40%;
}

/* table htmlcss */

section {
    text-align: center;

}

table.htmlcss {
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}

th,
td {
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border: solid 1px #11b493;
}

table.htmlcss>tbody>tr:nth-child(even) {
    background-color: #c2c1fa;
}

table.htmlcss>thead {
    background-color: #b094c7;
    color: rgb(245, 239, 239);
}

a {
    /* color:#783f99; */
    color: #62c2df;
    text-decoration: none;
}

a:visited {
    /* color:#783f99; */
    color: #bd78e6;
}

p {
    font-size: 0.8em;
}

/* b {
    color: #ffa69e;
} */

#pages {
    margin-top: -10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.flex{
    display: inline-block;
}

.left {
    margin-left: 10px;
}

#author {
    color: #869ddf;
}

/*header/navbar*/

ul.header {
    list-style-type: none;
    margin: -8px;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(238, 173, 173, 0.50);
    box-shadow: 0 2px 15px 2px rgba(59, 48, 48, 0.377);
    float: none;
    text-align: center;
}

li.header {
    float: none;
    display: inline-block;
    transition-property: width;
}

@media screen and (max-width: 1000px) {
    li.header {
        float: none;
        display: block;
    }
}

li.header a {
    display: inline-block;
    color: #5e6472;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
    transition: background-color 0.5s ease-in;
    transition: color 0.2s linear;
    border-radius: 7px;
}

/* mudar a cor dos icones, para fazer a separação do Home/4/3 */
li.header:nth-child(2),
li.header:nth-child(3),
li.header:nth-child(4) {
    color: #9cc53d;
}

li.header a:hover {
    background-color: #aedaf3;
    color: white;
}

a>b {
    color: #869ddf;
}

a:hover>b {
    color: white;
}

/* Tooltip text */

li.header .tooltiptext {
    visibility: hidden;
    width: 7.5em;
    background-color: #5e6472;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: fixed;
    z-index: 1;
    /* margens scuffed */
    margin-left: -30px;
    margin-top: 60px;
}

li.header:hover .tooltiptext {
    visibility: visible;
}

ul.header:nth-child(2) {
    padding-left: 20px;
}

ul.header:nth-child(6) {
    padding-left: 20px;
}

/*footer*/

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #5e6472;
    color: white;
    text-align: center;
}

/* details */

figcaption,
summary {
    text-align: center;
}

summary {
    font-size: 0.8em;
}

.center {
    max-width: 100%;
    max-height: 100%;
}

/* responsiveness */

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */

.maincontent {
    float: left;
    width: 70%;
    padding: 10px;
}

.aside {
    float: left;
    width: 30%;
    padding: 10px;
    position: sticky;
    top: 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .maincontent {
        width: 100%;
    }

    .aside {
        width: 100%;
        position: initial;
    }
}


/* multimedia flexbox */

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    /* border: 2px solid yellow; */
}

.flex-child:first-child {
    margin-left: 100px;
}

/* multimedia images */

.row {
    display: flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
}

.greyscale {
    transition: 0.8s ease-out;
}

.greyscale:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


.blur {
    transition: 2s ease-in;
}

.blur:hover {
    -webkit-filter: blur(6px);
    filter: blur(6px);
}


.hue {
    transition: 2s ease-in;
}

.hue:hover {
    -webkit-filter: hue-rotate(80deg);
    filter: hue-rotate(80deg);
}


/* Cores: 
    melon: ffa69e,
    eggshell: faf3dd,
    aero blue: b8f2e6,
    powderblue: aed9e0,
    #869ddf
    black coral: 5e6472
*/

/* change background gradient with keyframes? 

https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation2

*/